*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    background-color: rgba(0, 0, 112, 0.612);
    font-size: 22px;
    padding: 10px 20px 10px 20px;
}

.conteine-1{
    width: 50%;
}

.conteine-2{
    width: 50%;
    text-align: right;
}
nav a{
    color: white;
    text-decoration: none;
    padding-right: 6.2px;
}

nav a:hover{
    color: red;
}

section{
    display: flex;
    padding: 20px;
    color: rgb(147, 147, 147);
    text-align: ;
}

section h3{
    width: 50%;
    font-size: 30px;
}

section a{
    color: rgb(147, 147, 147);
    font-size: 20px;
    text-decoration: none;
    margin-right: 15px;
}

